<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wine"
        tools:targetApi="31">


        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


      

        <!-- Telas de autenticação -->
        <activity android:name=".ui.login.LoginActivity"/> <!-- Tela de Login -->
        <activity
            android:name=".ui.admin.RegisterAdminActivity"/>
        <!-- Telas de cadastro (Acesso conforme permissão) -->
        <activity android:name=".ui.client.ClientRegisterActivity"/><!-- Cadastro de Cliente -->
        <activity android:name=".ui.wine.form.WineFormActivity" /><!-- Cadastro de Vinho -->

        <!-- Telas de visualização/listagem -->
        <activity android:name=".ui.wine.list.WineListActivity" /> <!-- Listagem de Vinhos -->
        <activity android:name=".ui.wine.detail.WineDetailActivity" />

    </application>
</manifest>
